@font-face {
  font-family: 'Kanit';
  font-style: italic;
  src: url('/fonts/Kanit/Kanit-BlackItalic.ttf') format('truetype');
  unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
}
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  src: url('/fonts/Kanit/Kanit-Black.ttf') format('truetype');
  unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
}