.heading{
    width:25%;
    height: 12px;
    color: #d5d5d5;
    font-family: "Metric - Bold";
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: 0.09px;
    line-height: normal;
    
}

td{
    padding: 5px 5px;
}

.body-style{
    background-color: #1b1f29;
    
}

.row-style{
    /* border: 0.5px solid white; */
    border-top: 1px solid rgba(255, 255, 255, .2);
    border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.row-text{
    width: 75px;
    height: 13px;
    color: white;
    font-family: Menlo;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    /* Text style for "1,000,000" */
    font-style: normal;
    letter-spacing: 0.07px;
    line-height: normal;
}

.pagination{
    float: left;
    width: 43px;
    height: 15px;
    color: #d5d5d5;
    font-family: "Metric - Bold";
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    font-style: normal;
    letter-spacing: 0.09px;
    line-height: normal;
    /* margin: 20px; */
    position:relative;
    top:30%;
    left: 5%;
}

.total{
    float: right;
    width: 43px;
    height: 15px;
    color: #d5d5d5;
    font-family: "Metric - Bold";
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    font-style: normal;
    letter-spacing: 0.09px;
    line-height: normal;
    /* margin: 20px;
    margin-right: 50px; */
    position:relative;
    top:30%;
    right: 15%;
}