html,
body {
  // background: $bg-color;
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Kanit' !important; 
  font-weight: 500;
}

html {
  min-height: 100%;
  background-color: #202335;
  background-image: linear-gradient(to bottom, #0d101a 20px, #141824 700px, #141824);
  background-size: cover;
  background-repeat: no-repeat;
}

#app {
  font-family: $font-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $text-color;
  font-size: $font-size;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

// #app::after {
//   position: fixed;
//   content: "";
//   top: 0;
//   bottom: 0;
//   left: 0;
//   right: 0;
//   background: $bg-color;
//   opacity: 1;
//   transition: opacity 0.5s;
// }

// body.ready #app::after {
//   opacity: 0;
//   pointer-events: none;
// }

a {
  color: $color-primary;
  text-decoration: none;
}

a:hover,
a:active {
  color: lighten($yellow, 10%);
}

hr {
  border-color: rgba(0, 0, 0, 0.2);
  margin: 1.1rem 0.5rem;
}

.underline {
  text-decoration: underline;
}
