button,
.btn {
  //font-family: $font-serif;
  font-family: "Kanit";
  padding: $spacing * 2 $spacing * 4;
  outline: none;
  background-color: $white;
  border: solid 1px $gray-4;
  display: inline-block;
}

button:not(:disabled),
.btn:not(:disabled) {
  cursor: pointer;
}

button:disabled,
.btn:disabled,
.btn.disabled {
  opacity: 0.5;       
}

button:not(:disabled),
.btn:not(:disabled){
  opacity: 1; 
}
.bury_approve div{
  color: #454959;
}
button:disabled.bury_approve{
  background: #161a23;
  border: 1px solid #454959;
  color: #454959;
  opacity: 1; 
}



button:active,
.btn:active {
  background-color: $gray-5;
}

.btn-round {
  border-radius: 20px;
  border-width: 3px;
}

.btn-sm {
  padding: $spacing $spacing * 2;
}

.btn-lg {
  padding: $spacing * 4 $spacing * 8;
}

.btn-primary {
  background-color: $color-primary;
}

.btn-secondary {
  background-color: $color-secondary;
}

.btn-blue {
  background-color: #131722;
  color: $light;
}

.btn-blue:active {
  background-color: lighten($blue, 5%);
}

.btn-transparent {
  background-color: transparent !important;
  border-color: transparent !important;
  color: $white;
}
