.grid {
  display: grid;
  width: 100%;
  align-items: flex-start;
  max-width: 1280px;
  margin: 0 auto;

  .box {
    position: relative;
    box-shadow: 0 0 5px 5px #000;
    border-radius: 20px;
    width: 100%;
    .inner,
    .bg {
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
    }
    .content {
      margin: 1rem 0;
    }
    .footer {
      margin-top: 2rem;
      .btn {
        margin-bottom: 0 !important;
      }
    }
  }
}

@include lg {
  .grid {
    max-width: 1180px;
    .box {
      height: unset;
      .inner,
      .bg {
        .footer {
          margin-top: 1rem;
        }
      }
      .header {
        .btn {
          flex-shrink: 0;
        }
      }
    }
  }
}
