.swaparea {
  box-shadow: 0 0 2px 3px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: 1px solid #30333e;
  background-color: #30333e;
  opacity: 0.7;
  margin-top: $spacing * 5;
  padding: 1rem 1rem 0.15rem 1rem;
  padding-bottom: 1.8rem;

  .title {
    font-size: 90% !important;
    padding-top: $spacing * 2;
    padding-left: $spacing * 2;
  }

  .submit {
    padding: 0.5rem;

    button {
      border: none;
      border-radius: 0.25rem;
      font-size: 110%;
      background: rgba(255, 255, 255, 0.8);
    }
  }
}
