@tailwind base;

@tailwind components;

@tailwind utilities;

* {
  font-family: 'Kanit' !important;
}

button:focus {
  outline: none !important;
}

input:focus {
  box-shadow: none !important;
}
.h-3 {
  height: 3rem !important;
}
.m-l-1 {
  margin-left: 1.5rem;
}
.nav-prices > button {
  width: 11.688rem;
  padding: 0.4rem 0.6rem;
  border: 2px double transparent;
  border-width: 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 80px;
  background-image: linear-gradient(#10121b, #10121b),
    radial-gradient(circle at left top, #ffa409, #2d324b);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  border-right-width: 3px;
  max-height: 36.8px;
  font-family: 'Kanit';
  font-weight: 600;
}
.token{
  line-height: 1.2rem !important;
}
.p-t-label {
  color: #919193 !important;
  font-family: 'Kanit';
  font-weight: 600;
}

.p-t-price {
  color: #ffa409;
  font-weight: 600;
  max-width: 3.125rem;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Kanit';
}

.p-value {
  color: green;
  font-family: Kanit, Avenir, Helvetica, Arial, sans-serif;
  margin-top: -0.2rem;
}
.circle-button {
  width: 1.75rem;
  height: 1.75rem;
  background-color: #ffa409 !important;
  border-radius: 50%;
  display: none;
  padding: 0;
}
.mr-4 {
  margin-right: 0.8rem;
}
.nav-menu-submenu {
  background-color: #d5d5d5!important;
    position: absolute;
    top: 0rem;
    right: 0;
    padding: 1.2rem;
    background: #d5d5d5;
    border-radius: .5rem;
    width: 180px;
    max-width: 90vw;
    z-index: 10;
  
}

.p-1{
  margin: -8px 0px -2px !important;
}
.nav-menu-submenu-text {
  color: #111111;
  display: block;
  /* padding: 0.25rem; */
  font-weight: bold;
  text-align: center;
  font-family: Kanit, Avenir, Helvetica, Arial, sans-serif;
  font-size: 12pt;
  line-height: 0.9;
}
.nav-menu-name {
  color: #ffa409;
  font-size: 30px;
  background: "#131825";
  border-color: transparent !important;
  font-weight: bold;
  font-family: 'Kanit';
}
.n-color-black {
  background-color: transparent !important;
  border: none;
}
.n-margin-right {
  margin-right: 30px;
}
.logo-text {
  color: #ffa409;
  font-size: 2rem;
  align-self: center;
  line-height: 2rem;
  font-family: Kanit, Avenir, Helvetica, Arial, sans-serif;
  
}
.logo-name {
  margin-right: 0.5rem;
  align-items: center;
}
.nav-tvl-btn {
  display: flex;
  width: 8rem;
  margin-left: 1rem;
  justify-content: center;
  line-height: 1rem !important;
  font-size: 1rem;
  font-family: 'Kaint';
}
.nav-left-bar {
  text-decoration: none;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}
.nav-price-alert-btn{
  line-height: 1.5rem !important;
  padding: 0.2rem !important;
}
button#connect-wallet {
  width: 11.688rem;
  border-radius: 25px;
  border: 3px solid #383648;
  background-color: #d5d5d5;
  font-size: 13pt;
  height: 36.8px;
}
#connect-wallet p{
  font-size: 1rem;
  font-weight: 600;
  line-height: 1rem;
}
.settings_dig svg{
  float: right;
  margin-top: -20px;
}
.space-x-2.mx-auto a.text-xsf{
  font-size: 1rem;
}
#open-settings-dialog-button:active{
  background-color: transparent;
}
.recipient-address-input{
  font-weight: 500;
}
.footer-section{
  background: #141824;
  z-index: 999;
  border-top: 1px solid #292d38;
  box-shadow: -5px -5px 5px 0px rgb(41 45 56 / 63%);
  -webkit-box-shadow: -5px -5px 5px 0px rgb(13 14 19 / 63%);
  top: auto;

}
.main-container-section{
  margin-bottom: 32px;
}
.pool-buttons{
  padding: 13px;
  line-height: 1.2rem !important;
  font-size: 1rem;
  border-radius: 0.5rem !important;
}
.fetch-container{
  box-shadow: 0 0 9px 4px rgb(0 0 0 / 43%);
  border-radius: 10px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.25) 0%, rgba(17, 20, 27, 0.33) 31%, rgba(17, 20, 27, 0.5) 100%);
}
.fetchCard .doublelogo{
  top:0 !important;
}
.fetch-card:hover{
  cursor: pointer;
}
.modal-confirm span.doublelogo{
  top: 8px !important
}
.bg-dark-8000{
  background-color: #161821;
}
.bg-dark-9000{
  background-color: #23252e;
}
.bg_green_01{
  background: #597e6c !important;
  border: 2px solid transparent !important;
  color: rgb(41, 44, 55);
}
.yield_fonts{
  color: #d5d5d5 !important;
}
.modal_content p{
  line-height: 25px;
}
.yield-card{
  box-shadow: 0 0 9px 4px rgb(0 0 0 / 43%);
  border-radius: 10px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.25) 0%, rgba(17, 20, 27, 0.33) 31%, rgba(17, 20, 27, 0.5) 100%);
}
.home_bold_title{
  color: #34815e !important;
  font-size: 15px;
  font-family: 'Heebo', sans-serif !important;
  font-weight: 800 !important;
}
.green_title{
  color: #34815e !important;
}
.background_leash{
  box-shadow: none !important;
  background-color: transparent !important;
  border-color: transparent !important;
}
.background_leash .col-md-6,.bone_container{
  border-radius: 10px;
  box-shadow: inset 0 0 7px 1px rgb(0 0 0 / 45%);
  background-color: #161825;
  opacity: 0.76;
  border-color: #161825;
}
.yield_button.yield{
  padding: 0.8rem !important;
}
.yield-button{
  font-size: 1rem !important;
  background: rgba(255,255,255,0.8);
  color: #1c2d41;
  border: 2px solid rgb(213, 213, 213) !important;;
  font-weight: bold !important;
}
.bg_green_01{
  border: 2px solid transparent !important;;
}
.yield-button.max{
  font-size: 0.8rem !important;
  border: 1px solid grey !important;
  background: #d4d5d7;
}
.back_button{
  left: -64px;
  position: absolute;
  top: 10px;
  box-shadow: 0 0 9px 4px rgb(0 0 0 / 43%);
  border-radius: 10px !important;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.25) 0%, rgba(17, 20, 27, 0.33) 31%, rgba(17, 20, 27, 0.5) 100%);
  border: 1px solid transparent;
}
.flex.bury_box{
  text-align: center;
  margin: 0 auto;
  width: 70%;
}
.box_section{
  height: auto !important;
  padding: 10px;
  width: 100% !important;
}
.box_section .text{
 text-align: left;
}
.flex.bury_box .inner{
  border-radius: 10px;
  width: 100%;
  background: rgb(26 28 41);
  box-shadow: inset 0 0 7px 1px rgb(0 0 0 / 45%);
  padding: 10px;
  min-height: 101px;
}
.yield_button{
  height: 52px;
}
.view_status{
  float: right;
  position: absolute;
  bottom: 0;
  right: -16px;
  margin-bottom: 12px;
}
.view_status a{
  font-size: 0.6rem !important;
}
.yield-button.bg-blue{
  background-color: rgb(213, 213, 213) !important;
  color: rgb(41, 44, 55);
}
.yield_slider button{
  background-color: transparent;
  color: rgb(213, 213, 213);
  border-radius: 0.6rem;
  border: 2px solid rgb(213, 213, 213);
}
.text{
  font-family: 'Heebo' !important;
  font-weight: 700;
}
.text-gray-5000{
  color: #bbbbbd !important;
}
.woof_cards{
  background: #292c37;
}
.woof_cards .row.migrate{
  position: relative;
  left: 12px;
  right: 10px;
  width: 98% !important;
}
.woof_cards .bg-input{
  background-color: #121620 !important;
}
.read-more{
  color: #d5d5d5;
  font-family: 'Metric - Bold';
  font-size: 14px;
  font-weight: 500;
  font-style: italic;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  text-decoration: underline;
  cursor: pointer;
}
.hebbo-font{
  font-family: 'Heebo',sans-serif !important;
  font-weight: 800;
}

.disclaimers {
  color: #d5d5d5;
  font-family: 'Metric - Bold';
  font-size: 14px;
  font-weight: 500;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  cursor: pointer;
}
.claimsection-1{
  padding-left: 15px;
  margin: 20px;
}
.claimsection{
  margin: 20px;
  margin-left: 15px;
}
.outline_button{
  border: 1px solid #d5d5d5 !important;
}
.fetch-container.votecontainer .tooltips{
  position: absolute;
  top: 20px;
  right: 10px;
}
div[data-reach-dialog-overlay] .fetchCard{
  margin-right: 0px !important;
}
div[data-reach-dialog-overlay] .modal_fetch{
  width: 100% !important;
  margin-bottom: -24px !important;
}
div[data-reach-dialog-overlay] div[data-reach-dialog-content]{
  margin: 0px !important;
  border: 1px solid #e4e4e4;
}

/* Accordion styles */
.Faq_card{
  top: 10%
}
.Faq_card .tabs {
  overflow: hidden;
  box-shadow: 0 4px 4px -2px rgb(0 0 0 / 50%);
  background: transparent;
  border: thin solid #d5d5d5;
  border-radius: .5rem;
}
.tab:first-child {
  border-top: none !important;
}
.Faq_card .tab {
  width: 100%;
  color: white;
  overflow: hidden;
  background: #141824;
  border-top: thin solid #dadce0;
  padding: 0;
}
.Faq_card .tab-label {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  font-weight: bold;
  cursor: pointer;
  /* Icon */
}
.Faq_card h1{
  font-size: 2rem;
  margin-left: 1rem;
  text-transform: uppercase;
}
.questions{
  width: 54px;
  height: 54px;
  border: 2px solid white;
  border-radius: 50%;
}
.edit_icon{
  stroke:rgb(254, 163, 28) !important;
}
.Faq_card .tab-label:hover {
  background: #1a252f;
}
.Faq_card .tab-content {
  padding: 1rem 1em;
  color: #3c4043;
  transition: all 0.35s;
  background: #e8f0fe;
  line-height: 1.4rem;
  font-size: .875rem;
}
.Faq_card .tab-close {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
  font-size: 0.75em;
  background: #2c3e50;
  cursor: pointer;
}
.Faq_card .tab-close:hover {
  background: #1a252f;
}
@media screen and (max-height: 750px){
  .main-container-section{
    margin-bottom: 4px !important;
  }
  .container.my-auto.home-container{
    margin-top: revert !important;
  }
}
@media only screen and (max-width: 350px) {
  .header_space{
    margin-right: 0px;
  }
}
@media only screen and (max-width: 1200px) {
  .card_styles .sub_title{
    margin-right: 3.2rem;
  }
  .subtitle{
    margin-top: -14px;
    margin-right: 3.5rem !important;
  }
}
@media only screen and (max-width: 500px) {
  .header{
    padding-left: 0 !important;
    margin-left: -8px;
  }
  .Dig-button{
    width: unset !important;
  }
  .claimsection-1,.claimsection{
    text-align: center;
    margin: 0;
    padding-top: 1rem;
  }
  #open-settings-dialog-button{
    top: 5px;
  }
  .m-auto.relative.yield_card_mobile{
    margin-top: -72px !important;
  }
  .h-full.-mt-4.yield_card{
    margin-top: -30px !important;
  }
  .yield-card.fetch-container{
    margin: 20px;
    margin-top: 5rem;
  }
  .col-xl-6 .yield-card{
    margin-top: 0rem;
  }
  .mobile-container,.bury-container{
    width: 90% !important;
  }
  .mobile-container .title{
    padding-left: 0.8rem;
    white-space: pre;
  }
  .add_liquidity{
    margin-right: 1rem !important;
  }
  .header-mobile{
    margin-right: -30px;
    padding-left: 0.6rem;
  }
  .header-mobile .header.w-full{
    position: absolute;
    right: 20px;
    width: revert !important;
  }
  nav.gradiant-border-bottom.z-10{
    margin-bottom: -20px;
  }
}
@media only screen and (max-width: 760px) {
  .footer-section{
    display: none !important;
  }
  .main-container-section{
    margin-bottom: 0px;
    margin-top: 1rem;
  }
  .nav-menu-submenu {
    position: inherit !important;
    top: 3rem;
  }
  .bury_px{
    padding-right: 0px !important;
    padding-left: 0px !important;
  }
  body{
    background: #0e111c !important;
  }
}
@media only screen and (max-width: 800px) {
.flex.bury_box {
  width: 95%;
}
.col-md-6.p-0.pr-3{
  padding-right: 0px !important;
}
.view_status{
  right: -9px;
}
}
@media only screen and (max-width: 974px) {
  .nav-prices,
  .nav-price-alert-btn,
  .nav-tvl-btn,
  .logo-text {
    display: none !important;
    padding: .3rem;
  }
  .nav-menu-submenu{
    position: relative;
    float: right;
  }
  
  button#connect-wallet {
    width: 9.8rem;
    padding: 0;
  }
  .container.my-auto {
    padding-bottom: 8rem !important;
  }
  .header-mobile{
    position: relative !important;
    background-color: transparent !important;
  }
  .div_modal[data-reach-dialog-content] {
    width: 90vw !important;
    transform: translateY(-30px);
  }
}
@media (min-width: 601px) and (max-width: 1024px) {
  .nav-prices,
  .nav-price-alert-btn,
  .logo-text {
    display: none !important;
  }
  .nav-menu-submenu{
    position: relative;
    float: right;
  }
  .view_analytic{
    margin-top: 20px;
  }
  .mobile-container.fetching{
    width: 80%;
  }
}
@media (min-width: 900px) and (max-width: 1400px)  {
  .row.mt-8.mb-8.px-20.bury_px{
    padding-left: 0rem !important;
    padding-right: 0rem !important;
  }
}
@media (min-width: 1100px) and (max-width: 1400px)  {
  .dig {
    width: 45% !important;
    left: 60px !important;
  }
  .data-container {
    width: 45% !important;
    left: 77px !important;

  }
  .dig-container {
    width: 100% !important;
  }
  .currency-div{
    padding: 0 !important;
    width: 100%!important;
    margin-left: -16px;
  }
  .token-amount-input {
    width: 100% !important;
    margin-left: 0px !important;;
  }
  .yield_card_mobile {
    max-width: 1200px !important;
  }
  .fetching{
    max-width: 1000px !important;
  }
}

@media (min-width: 992px) and (max-width: 1399px)  {
  .dig--inner{
    position: relative;
    top: 0px;
  }
  .mobile-container.fetching .fetchCard.first{
    margin-right: 2rem !important;
  }
}

