@import '../styles/scss/index';

.btn-fill {
    width: 100%;
}

.dig-super-container {
    display: flex;
}
.data-container {
    // width: 650px;
    width: 42%;
    height: 615px;
    float: right;
    //border:2px solid white;

    @media(max-width: 1400px){
        width: 60%;
        display: block;
        float: left;
        position: relative;
        left: 10%;
    }

    @media (max-width: 1300px) {
        width: 80%;
        display: block;
        float: left;
        position: relative;
        left: 10%;
    }
    @media (max-width: 800px) {
        width: 100%;
        left: 0;
        padding: 15px;
    }
    @media (max-width: 500px) {
        left: 0;
        width: 100%;
        padding: 18px 0;
    }
}

.graph-container {
    height: auto;
    min-height: 260px;
    //border: 2px solid white;
    box-shadow: 0 0 9px 4px rgba(0, 0, 0, 0.43);
    border-radius: 10px;
    opacity: 0.82;
    background: #131722;
    .toggle-btn {
        //border: 2px solid white;
        padding: 10px;
        //padding-top: 8px;
        width: 100%;
        display: inline-block;
        //flex-direction: row-reverse;
    }
}

.total-container {
    height: auto;
    min-height: 240px;
    margin-top: 3%;
    //border: 2px solid white;
    box-shadow: 0 0 9px 4px rgba(0, 0, 0, 0.43);
    border-radius: 10px;
    padding: 1rem;
    background: #131722;
}

.history {
    //border: 2px solid white;
    width: 100%;
    height: 100%;
    min-height: 260px;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-align: left;
  
    table {
      width: 100%;
      padding: 1rem;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
  
      thead {
        tr {
          td {
            text-align: left;
            font-weight: bold;
            font-family: "Metric - Bold";
          }
        }
      }
  
      tbody {
        color: rgba($light, 0.666);
        width: 100%;
        overflow: auto;
  
        td {
          font-size: 90%;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  
    .footer {
      text-align: right;
    }
  }

.image-div {
    border-radius: 10px;
    padding: 0.5rem;
    box-shadow: inset 0 0 9px rgba(13, 13, 13, 0.43);
    background-color: #1b1d2a;
}

.token-style {
    font-family: 'Metric - Bold';
    font-weight: 700;
    font-size: 28px !important;
    margin-right: 1rem;
}

.label-style {
    font-family: 'Metric - Bold';
    font-size: 20px;
    font-weight: 500;
}

.dig-container {
    width: 70%;
    margin-bottom: 3.8rem;

    //border: 2px solid white;
    // position:absolute;

    @media (max-width: 500px) {
        width: 100%;
    }
}

.pd-0 {
    padding: 0.25rem;
}

.dig {
    display: inline-flex;
    width: 55%;
    //border: 2px solid pink;
    text-align: left;
    float: left;
    position: relative;
    //left: 4%;
    min-height: 650px;
    z-index: 9;
    box-shadow: 0 0 9px 4px rgba(0, 0, 0, 0.43);
    border-radius: 10px;
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.25) 0%,
        rgba(17, 20, 27, 0.33) 31%,
        rgba(17, 20, 27, 0.5) 100%
    );
    background: #0e111a;
    margin-left: 20px;
    @media (min-width: 1700px){
        width: 55%;
        margin-right: 20px !important;
    }
    @media (max-width: 1400px){
        width: 60%;
        left: 10%;
        margin-left:0;
        margin:0 auto;
        text-align: center;
        justify-content: center;
    }
    @media (max-width: 1300px) {
        width: 80%;
        left: 10%;
        margin:0 auto;
        text-align: center;
        justify-content: center;
    }
    @media (max-width: 800px) {
        width: 100%;
        left: 0%;
        padding: 12px;
        margin-top: 0.7rem;
        //border:2px solid pink;
    }
}

.graph-container {
    .echarts-for-react {
        min-height: 200px !important;
        height: 87% !important;
    }
}
.open-currency-select-button{
    background: transparent;
    border-radius: 20px;
    margin-top: -4px !important;
}
.fontFamily {
    font-size: 1rem;
    height: 20px;
    font-style: normal;
    line-height: 0.9;
    font-weight: 600;
}

.wrapper {
    flex-direction: row;
    // padding: 0 2rem;
    //max-width: 600px;
    margin: 0 auto;
    //border: 2px solid red;
    .plus {
        font-size: 150%;
        color: $light;
        opacity: 0.75;
        cursor: default;
        user-select: none;
    }

    > * {
        align-self: flex-start;
        margin: 0 0.5rem;
        // flex-grow: 1;
    }

    .top-left a {
        font-size: 85%;
    }

    .left {
        flex-grow: 0.1;

        .inner {
            padding: 0.7rem;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            box-sizing: border-box;
        }

        .title {
            width: 73px;
            height: 34px;
            color: #d5d5d5;
            font-family: 'Metric - Bold';
            font-size: 52px;
            font-weight: 700;
            font-style: normal;
            letter-spacing: normal;
            line-height: normal;
            text-align: left;
            text-transform: uppercase;
            font-style: normal;
            letter-spacing: 0.3px;
            line-height: normal;
            padding-left: 0px;
        }

        .description {
            height: 16px;
            color: #d5d5d5;
            font-family: 'Heebo', sans-serif !important;
            font-size: 16px;
            line-height: normal;
            text-align: left;
            letter-spacing: 0.12px;
            line-height: normal;            
            font-weight: 700;
            font-style: normal;
            letter-spacing: 0.12px;
            line-height: normal;
            margin: 17px 0;
        }

        .read-more{
            color: #d5d5d5;
            font-family: 'Metric - Bold';
            font-size: 14px;
            font-weight: 500;
            font-style: italic;
            letter-spacing: normal;
            line-height: normal;
            text-align: left;
            text-decoration: underline;
            cursor: pointer;
        }
        .pdy-10{
            padding: 10px;
        }

        .poolPriceBar {
            border-radius: 1rem;
            background-color: #171a23;
            padding-bottom: 17px;
            margin: 0.5rem;
            color: #d5d5d5;
            font-family: 'Metric - Bold';
            font-size: 16px;
            font-weight: 500;
            font-style: normal;
            line-height: normal;
            text-align: left;
            letter-spacing: 0.08px;
        }

        .liquidityWalletButton {
            border-radius: 1rem;
            border: 3px solid #d5d5d5;
            background-color: #dddddd;
            opacity: 0.82;
            color: #1c2d41;
            font-family: 'Metric - Semibold';
            font-size: 22px;
            font-weight: 500;
            font-style: normal;
            letter-spacing: normal;
            line-height: normal;
            text-align: center;
            //margin: 0.5rem;
            margin: auto;
            margin-bottom: 0.5rem;
            padding: 15px 0;
            cursor: pointer;
        }

        .top {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            > * {
                align-self: flex-start;
            }
        }
    }

    .right {
        flex-grow: 2;
        display: flex;
        flex-direction: column;
        // justify-content: space-between;
        // background: red;
        padding: 0;

        > * {
            // margin: 1rem 0;
            flex-grow: 1;

            .inner {
                //padding: 1rem;
                //height: 100%;
            }
        }

        .top {
            margin: 1rem 0;
            flex-grow: 1;
        }

        .bottom {
            flex-grow: 0.5;
        }
    }
}

@media (max-width: 800px) {
    .dig{
        margin-left: 0;
        padding: 15px;
    }
    .wrapper{
        width: 100%;
        .left{
            .inner{
                padding: 0;
            }
        }
    }
    .wrapper > *{
        margin: 0;
    }
}

// @include md {
//   .wrapper {
//     width: 70%;
//     padding: 0;
//   }
// }

@include lg {
    .dig {
        display: flex;
        align-items: center;
        &--inner {
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }
    .wrapper {
        display: flex;
        max-width: 840px;
        width: 100%;

        > * {
            height: 100%;
        }

        .left {
            flex: 1;
            margin-right: 1rem;
        }

        .right {
            flex: 1;
            align-self: stretch;
            height: unset;
            .top {
                margin: 0;
                max-height: 50%;
                height: 50%;
                margin-bottom: 1rem;
            }

            .bottom {
                max-height: 50%;
                height: 50%;
            }
        }
    }
}

@include xxl {
    .dig {
        display: flex;
        align-items: center;
        margin: auto;
    }
    .wrapper {
        max-height: max-content;
        max-width: 980px;
        margin: auto;

        > * {
            height: auto;
        }
    }
}



@media only screen and (max-width: 600px) {
    .back_button{
      display: none !important;
    }
    .dig-container {
      width: 90%;
    }
    .dig-liquidity {
        margin-top: unset !important;
    }
    .wrapper .left .description{
        font-size: 14px;
    }
  }
  